body{
    background-color: black;
    font-family: sans-serif ;
    color: black;
}
h1{
    text-align: center;
    color:white
}

#box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width:60%;
    margin-left: 20vw;
    margin-top: 3vh;
    text-align: center;
    height: auto;
}

.input-box{
    border: 2px solid gray;
    width: 75%;
    margin:10px 100px;
    background-color: #99d6ff;
}

.input-box:hover{
    background-color: lightgrey;
}
h2{
    /* padding-top: 5px; */
    margin: 5px 0;
    text-align: center;
}

input{
    margin:1% 5% 2% 5%;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1.3rem;
    width:80%;
}

.input-box:focus-within{
    background-color: lightgrey;
}

select{
    width:80%;
    background-color: e;
    border:none;
    margin: 5px;
    height: 20px;
    /* box-shadow: 2px 1px 2px 6px grey; */
}
option{
    height: 15px;
}

.box1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:75%;
}

.row{
    display: inline-block;
    width:48%;
    margin:5px 0;
}

.btn{
    width:30%;
    height:8vh;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
}



#add{
    background-color: aquamarine;
}
#add:hover{
    width:35%;
    height:9vh;
    background-color: lightgreen;
}

#del{
    background-color: lightcoral;
}

.buttons{
    justify-content: space-around;
}

.btn i{
    margin: 5px 20px 5px 5px;
}

ul{
    list-style: none;
}
label{
    position: absolute;
    left:62px;
    top:15px;
}
.card{
    width:90%;
    height:13vh;
    position: relative;
    font-size: 1.5rem;
    opacity: 1;
}
.card:hover{
    background-color: darkslategrey;
}
#content{
    width:49%;
    margin-left: 26vw;
    margin-top: 6vh;
    color:white;
    
}

input[type=checkbox]{
    position: absolute;
    left:-9px;
    top:25px;
    width:20px;
    height:20px;

}
#calendar{
    position: absolute;
    left:62px;
    top:50px;
    font-size: 1.25rem;
    color: pink;
}

.card .category{
    display: inline-block;
    position: absolute;
    left:24vw;
    top:5px;
}
.card .date{
    font-size: 1.2rem;
    color:pink;
    display: inline-block;
    position: absolute;
    left:87px;
    top:30px;
}

#delicon{
    position: absolute;
    left:36vw;
    top:30px;
    color:crimson
}

#delicon:hover{
    font-size: 1.8rem;
    position: absolute;
    left:35.9vw;
    top:27px;
}
.divider{
    margin:0;
}
#marked{
    position: absolute;
    width:100%;
    top:35px;
   border: 2px red dashed;
   visibility: hidden;
  
}